.product-panel-wrapper{
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 20px;
}

.product-panel-product{
    display: flex;
    height: 150px;
    width: 100%;
    margin: 0.65em 0.25em;
    justify-content: center;
    align-items: center;
}

.product-panel-product:hover{
    cursor: pointer;
}

.product-panel-product-body{
    background-color: rgba(255, 255, 255, 0.7);
    padding: 0.25em 0.25em;
    height: 70px;
    width: auto;
    text-align: center;
}

.product-panel-alternate{
    width: 95%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* background-color: aqua; */
}

/* .product-panel-outer{
    background-color: aqua;
    width: 100%;
    margin: 0 auto;
} */

@media (max-width : 500px){
    .product-panel-wrapper{
        display: flex;
        flex-direction: column;
        /* background-color: aqua; */
    }
}