@import url('https://fonts.googleapis.com/css2?family=Changa&display=swap');

.log-in-wrapper{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

@media(max-width : 850px){
    .log-in-wrapper{
        flex-direction: column;
    }
}