  .directory-container{
    display: flex;
    height: 300px;
    width: 32%;
    margin: 0.65em 0.25em;
    background-color: blueviolet;
    justify-content: center;
    align-items: center;
    transition: all .2s ease-in-out;
    border: 1px solid black;
  }
  .directory-body-container{
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.25em 0.25em;
    height: 150px;
    width: 150px;
    text-align: center;
    border-radius: 5px;
   
  }

  .directory-body-container a{
    text-decoration: none;
  }
  
  .directory-container:nth-child(4), .directory-container:nth-child(5){
    width: 48.5%;
    height: 350px;
  }
  
  .directory-container:hover{
    cursor: pointer;
    transform: scale(1.08);
  }

  .directory-body-container:hover{
    background-color: rgba(255, 255, 255, 0.9);
  }

  @media (max-width: 500px){
    .directory-container{
      width: 95%;
      
    }
    .directory-container:nth-child(4), .directory-container:nth-child(5){
      width: 95%;
      
    }
    
  }